.container-fluid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .container-fluid div {
    display: inline-block; }

.sidebar {
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .sidebar .panel {
    display: block;
    padding: 0;
    margin: 0; }

.map {
  padding: 10px; }

.form label {
  display: block; }
